/* 
turqoise: #5fcca6
light turqoise: #c5eddf
yellow: #f5d21f
light yellow: #faeb9e
light grey: #e4e4e4
med grey: #BFBFBF
dark: #2e2d2d
*/

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #e4e4e4;
}

body {
  background-color: #2e2d2d;
  background-image: url(../img/racing2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  height: 100%;
}

.game-button {
  border: none;
  font-size: 1.2em;
  padding: 15px 45px;
  background-color: #f5d21f;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}

/* Players selecting page */
#players-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80%;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container p {
  font-size: 1.2em;
}

#title {
  font-size: 3em;
  margin-bottom: 20px;
  color: #e4e4e4;
}

em {
  font-weight: 700;
}

#players-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.player1 {
  background-color: #5fcca6;
}

.player2 {
  background-color: #f5d21f;
}
/* Players selecting page */

/* Name form page */
#name-form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 60%;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8em;
  color: #2e2d2d;
  height: 100px;
  border: none;
  border-radius: 5px 5px 0 0;
}

.name-container input {
  width: 50%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

/* Name form page */

/* Game page */
#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80%;
}

#player-name {
  color: #e4e4e4;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#stats-box {
  width: 100%;
  padding: 10px 0;
  width: 80%;
  margin-bottom: 30px;
  font-size: 1.6em;
}

#stats-box h5 {
  font-size: 1.2em;
  color: #f5d21f;
}

#stats-box p {
  margin: 15px 0;
}

#paragraph-box {
  margin: 15px 0;
  color: #2e2d2d;
  min-height: 150px;
  width: 80%;
  /* line-height: 2.5; */
  font-size: 1.4em;
  padding: 20px 70px;
  /* text-align: justify; */
  white-space: nowrap;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 15px; */
  background-color: #e4e4e4;
  /* border: 15px solid #faeb9e; */
}

#paragraph {
  display: inline-block;
  width: 80%;
  color: black;
}

#paragraph-padding {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

#buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  width: 80%;
}

#paragraph-button {
  margin: 0 5%;
  background-color: #5fcca6;
}

#start-button {
  margin: 0 5%;
  background-color: #f5d21f;
}

span.neutral {
  font-weight: 700;
}

span.correct {
  font-weight: 700;
  opacity: 0.5;
}

span.error {
  font-weight: 700;
  color: #c40d00;
}

span.next {
  font-weight: 700;
  text-decoration: underline;
}
/* Game page */

/* Results page */
#results-page {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#player-results-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.results-section {
  width: 45%;
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e4e4e4;
  border-radius: 5px 5px 0 0;
  color: #2e2d2d;
}

.results-section p {
  font-size: 1.4em;
}

.results-section span {
  font-weight: 600;
}
/* Results page */

/* Traffic light css */
#traffic-light-bg {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: none;
  z-index: 5;
}

#traffic-light {
  position: absolute;
  width: 170px;
  height: 400px;
  margin-top: -200px;
  margin-left: -85px;
  top: 50%;
  left: 50%;
  background-color: #e3e3e3;
}

.red {
  background: red;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35px;
  animation: 3s red;
  opacity: 0.1;
}

.yellow {
  background: yellow;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 35px;
  animation: 3s yellow;
  opacity: 0.1;
}

.green {
  background: green;
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 35px;
  animation: 3s green;
  opacity: 0.1;
}

@keyframes red {
  0% {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes yellow {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes green {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#traffic-light p {
  font-size: 42px;
  font-weight: 700;
}

#pred {
  color: red;
  position: absolute;
  animation: red 3s;
  left: 250px;
  top: 10px;
  opacity: 0;
}

#pyellow {
  color: yellow;
  position: absolute;
  animation: yellow 3s;
  left: 250px;
  top: 135px;
  opacity: 0;
}

#pgreen {
  color: green;
  position: absolute;
  animation: green 3s;
  left: 250px;
  top: 260px;
  opacity: 0;
}
/* Traffic light end css */

/* Keyboard */
#keyboard {
  display: inline-block;
  text-align: center;
  width: 780px;
  margin: 15px 0;
}

#keyboard div {
  margin: 5px 0;
}

#keyboard input {
  box-shadow: 5px 5px 5px #666;
  background-color: #e4e4e4;
  width: 70px;
  height: 50px;
}

#keyboard input.buttonPressEffect {
  background-color: #5fcca6;
  border: #5fcca6;
  box-shadow: 10px 10px 10px #666;
}

@media (max-width: 992px) {
  #keyboard {
    width: 580px;
  }
  #keyboard input {
    width: 50px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  #keyboard {
    width: 405px;
  }
  #keyboard input {
    width: 35px;
    height: 25px;
  }
}

/* Keyboard */
